body{
    overflow-y:scroll;
}

div#navigation {
    position:fixed;
    left:10px;
    top:10px;
    height:620px;
    width:250px;
    font-size:small;
	border: 1px dotted #000;
	padding: 10px;
	overflow-y:scroll;
	}


div#summary {
    position:absolute;
    left:300px;
    top:10px;
    height: 100px;
    width:950px;
	border: 1px dotted #000;
	padding: 10px;
	}

div#graph {
    position:absolute;
    left:300px;
    top:140px;
    height:500px;
    width:950px;
	border: 1px dotted #000;
	padding: 10px;

	}

div#detail {
    position:absolute;
    left:300px;
    top:650px;
    height:500px;
    width:950px;
	border: 1px dotted #000;
	padding: 10px;
	}

