body {
	overflow-y: scroll;
	overflow-x:scroll;
}


table, th, td {
	border: 1px solid blue;
}

div#summary {
	border: 3px solid blue;
	padding:10px 0px;
}

table div {
	height:160px;
    width:200px;
}

div.not_enabled {
	background-color:#BBBB00;
}

div.enabled {
	background-color:#668800;
}
