<!DOCTYPE html>
<html>
    <head>
        <title>Lenovo Private Cloud Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        {% load staticfiles %}


		<link rel="stylesheet" href="{% static 'external/bootstrap/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'external/kendo/styles/kendo.common-bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'external/kendo/styles/kendo.bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'external/kendo/styles/kendo.dataviz.min.css' %}" />
        <link rel="stylesheet" href="{% static 'external/kendo/styles/kendo.dataviz.bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        
        <script src="{% static 'external/kendo/js/jquery.min.js' %}"></script>
        <script src="{% static 'external/kendo/js/angular.min.js' %}"></script>
        <script src="{% static 'external/kendo/js/kendo.all.min.js' %}"></script>
        <script src="{% static 'external/kendo/js/kendo.timezones.min.js' %}"></script>
        
        <script src="{% static 'external/eCharts/echarts-all.js' %}"></script>
        
        <script src="{% static 'js/theme-chooser.js' %}"></script>
        <script src="{% static 'js/myrender.js' %}"></script>

        <!--[if lt IE 9]>
        <script src="vendor/html5shiv.js"></script>
        <script src="vendor/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <header>
            <div class="container" class="row">
                <h1 class="col-sm-3 hidden-sm">Lenov Cloud Monitor</h1>
            </div>
        </header>

        <div id="example" class="container">
            <ul id="menu">
                <li><a href="#orders">Tenants & VM</a></li>
                <li><a href="#cpu">CPU</a></li>
                <li><a href="#memory">Memory</a></li>
                <li><a href="#disk_read">Disk Read</a></li>
                <li><a href="#disk_write">Disk Write</a></li>
                <li><a href="#network_in">Network In</a></li>
                <li><a href="#network_out">Network Out</a></li>
            </ul>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div id="tabstrip" class="ra-section">
                        <ul>
                            <li class="k-state-active"><span class="km-icon spr"></span><span class="hidden-xs">Tenants-VM Trends</span></li>
                            <li><span class="km-icon share"></span><span class="hidden-xs">Distribution By Environment</span></li>
                            <li><span class="km-icon share"></span><span class="hidden-xs">Distribution By BU</span></li>
                        	<li><span class="km-icon share"></span><span class="hidden-xs">Distribution By Geo</span></li>
                        </ul>
                        <div><div id="tenants_vm_trend"></div></div>
                        <div><div id="dis_by_env"></div>
                        	<div id="dis_by_env_tetants" class="market-donut"></div>
                            <div id="dis_by_env_vms" class="market-donut"></div>
                        </div>
                        <div><div id="dis_by_bu"></div></div>
                        <div><div id="dis_by_geo"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="orders" class="ra-section"></div>
            <section class="well">
                <h2 class="ra-well-title">Performance Statistics</h2>
                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="birthday">Date Start</label>
                        <div class="col-sm-8 col-md-6">
                            <input type="date" value="09/06/2015" />
                        </div>
                    </div>
                </div>
                
                <div class="form-horizontal form-widgets col-sm-6">
                	<div class="form-group">
                        <label class="control-label col-sm-4" for="birthday">Date End</label>
                        <div class="col-sm-8 col-md-6">
                            <input type="date" value="10/06/2015" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="buttons-wrap">
                    <button class="k-button k-state-default">Cancel</button>
                    <button class="k-button k-state-default">Update</button>
                </div>
            </section>
            <label class="description">CPU</label>
            <div id="cpu" class="ra-section"></div>
            
            <label class="description"> Memory Statistics</label>
            <div id="memory" class="ra-section"></div>
            
            <label class="description"> Disk Statistics</label>
            <div id="disk_read" class="ra-section"></div>
            <div id="disk_write" class="ra-section"></div>
            
            <label class="description"> Network Statistics</label>
            <div id="network_in" class="ra-section"></div>
            <div id="network_out" class="ra-section"></div>
            
            <footer>Copyright &copy; 2015 <a href="http://www.lenovo.com/">Lenovo</a>. All rights reserved.</footer>
        </div>

        <script>
            function path(url) {
                return /(.*\/)[^\/]*$/gi.exec(url)[1];
            }
			// render_configure();
            renderMenu();
            renderWidget();
            window.kendoThemeChooser.changeTheme("bootstrap", true);
            initCharts();
            drawDistByEnvTenants();
            addTabstripEffect();
            // renderGrid();
            renderGridCpu();
        </script>
    </body>
</html>
