<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lenovo Cloud Monitor</title>
    {% load staticfiles %}
    <script src="{% static 'js/eCharts/echarts-all.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-2.1.3.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.easyui.min.js' %}"></script>
    <script src="{% static 'js/drawingtool.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/easyui/themes/default/easyui.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/easyui/themes/icon.css' %}" type="text/css" />

</head>
<body>

<div id="navigation">
    <ol>
    {% for resource in resource_list%}
        <li><a href="/cloudmonitor/dashboard/detail/{{ resource.resource_id }}/">{{ resource.display_name }}</a></li>
    {% endfor %}
    </ol>
</div>

<div id="summary">
    <div id="error_div">
        {% if page_data.form_errors%}
            {% for message in page_data.form_errors%}
                <li style="color: red;"> {{message}} </li>
            {% endfor%}
        {% endif%}
    </div>
<form action="/cloudmonitor/dashboard/search/" method="post">
    {% csrf_token %}
    <input type="hidden" name="resource_id" value="{{resource_id}}">
    Type
    <select name="type">
    	<option value="cpu">cpu</option>
    	<option value="disk_write">disk_write</option>
    	<option value="disk_read">disk_read</option>
    	<option value="memory">memory</option>
    	<option value="network_in">network_in</option>
    	<option value="network_out">network_out</option>
    </select>
    TimeStart: <input name="timestart" class="easyui-datetimespinner" value="{{ timestart }}" style="width:180px">
    TimeEnd:   <input name="timeend" class="easyui-datetimespinner" value="{{ timeend }}" style="width:180px">
    <br />
    Fequency:<input type="text" name="frequency" value="{{page_data.form_paras.frequency}}">(Minutes)
    <br />
    <input type="submit", value="Confirm">
</form>
</div>
<div id="graph" >
    <script type="text/javascript" >
        {% if legend_title %}
            draw({{graph_title | safe}},{{legend_title | safe}}, {{ x_axis | safe }}, {{y_axis}});
        {% endif %}
    </script>

</div>
<div id="detail">
        Extend from $.fn.panel.defaults. Override defaults with $.fn.datagrid.defaults.

The datagrid displays data in a tabular format and offers rich support to select, sort, group and edit data. The datagrid has been designed to reduce development time and to require no specific knowledge from developers. It is both featherweight and feature-rich. Cell merging, multi-column headers, frozen columns and footers are just a few of its features. 
</div>


</body>
</html>